body{
    background-color: #f8ece4 ;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container{
    display: flex;
    margin-top: 100px;
    margin;
}
    



.whitebox{
    background-color: white;
    height: 500px;
    width: 325px;
    border-bottom-right-radius: 5%;
    border-top-right-radius: 5%;

}

.perfume, img{
    border-bottom-left-radius: 5%;
    border-top-left-radius: 5%



}

